[Unit]
Description=Summit XL ROS2 teleop bringup
After=can0.service bluetooth.target pixhawk.service
Requires=can0.service
Wants=bluetooth.target pixhawk.service


[Service]
Type=simple
User=ros2
Environment=HOME=/home/ros2
Environment=ROS_DOMAIN_ID=0
Environment=ROS_LOCALHOST_ONLY=0
Environment=RMW_IMPLEMENTATION=rmw_fastrtps_cpp
Environment=FASTDDS_BUILTIN_TRANSPORTS=UDPv4
WorkingDirectory=/home/ros2/ros2_ws
ExecStart=/bin/bash -lc 'source /opt/ros/humble/setup.bash && source /home/ros2/ros2_ws/install/setup.bash && ros2 launch summit_xl_base teleop_bringup.launch.py'
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
